<%- include('header'); %>

<h1>Facts:</h1>

<span>>KB has a very nice bottom note</span>
<br>
<span>>I love this job, and am willing to work hard in order to please my direct authority, when given the explicit oppertunity</span>
<br>
<span>>You, you reading this, you're cool</span>
<br>
<span>>[More to come]</span>

<br><br><br><a href="/">Back to Home</a>